#btn1, #btn2, #btn3{
    padding: 25px 25px;
    background-color: seagreen;
    color: snow;
    text-decoration: none;
}

#light{
    display: flex;
    height: 100vh;
    background-color: black;
    justify-content: space-around;
}

#clmn{
    background-color: red;
    color: snow;
    font-size: 40px;
    text-align: center;
    padding-top: 400px;
    padding-left: 40px;
    padding-right: 40px;
}